/* mermaid max-width */
.mermaid svg {
	max-width: 100%;
	height: auto;
}

/* 체크박스 */
.markdown-preview-view ul > li.task-list-item.is-checked {
	text-decoration: line-through;
	color: var(--text-faint);
}

strong, .cm-strong {
  background-color: rgba(67, 133, 190, 0.3); 
  padding: 0.1em 0.2em;
  border-radius: 4px;
}